.select-method-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.select-method-list {
  background-color: white;
}

.method-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.method-item:hover {
  background-color: #dbdfff;
}

.method-text {
  margin-left: 10px;
}

.mail-method-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-method-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
