p {
  font-family: "Gochi Hand", "Courier New", Courier, monospace;
}
.todolists-container {
  height: 100vh;
  display: flex;
}

.todolists-list {
  background-color: white;
  width: 510px;
  height: 89vh;
  margin: 15px;
  border-radius: 10px;

}

.todolist-list-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todolist-list-title {
  margin: 0;
  font-size: 25px;
}

.todolists-item {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  opacity: 1;
  transition: transform 0.5s ease;
  animation: rise-item 3s ease;
  background-color: #f7edff;
}

@keyframes rise-item {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.todolists-item-container {
  display: flex;
  margin-left: 20px;
  align-content: space-between;
}

.todolists-item:hover {
  transform: scale(1.05);
}

.todolists-item-title {
  margin: 0;
  margin-top: 5px;
}

.todolists-item-description {
  margin: 0;
  margin-top: 10px;
  font-size: 25px;
}

.deadline-exeeded-container {
  width: 20px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  font-size: 50px;
}

.selected-todolist {
  background-color: #2196f3;
  color: white;
}

.todolist-action-button {
  margin-left: 10px;
}

.todolist-action-container {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.todolist-item-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

//
//
// Todos
//
//

.todos-container {
  background-color: white;
  width: 825px;
  height: 92vh;
  margin: 10px;
  border-radius: 10px;
}

.todos-list {
  background-color: white;
  height: 80%;
  margin: 10px;
}

.todos-item-container {
  display: flex;
}

.todo-item {
    background-color: #f7edff;
}

.selected-todo {
    color: white;
    background-color: #2196f3;
}

.todos-item-info-container {
  display: flex;
}

.todo-action-container {
  margin-left: 10px;
  margin-top: 10px;
}

.todo-remove-button {
  margin-left: 10px;
}

.deadline-exeeded-label {
  margin-left: 40px;
  font-size: 20px;
}

.todos-list {
  margin-top: 10px;
  margin-left: 10px;
}

.todo-item {
  cursor: pointer;
}

.todolist-paginator {
  width: 96%;
  margin-left: 10px;
}

.todo-paginator {
  width: 96%;
  margin-left: 10px;
}
