<div *ngIf="token == 'reset'" class="reset-password-request-container">
    <h2>Reset Password</h2>
    <form class="login-form" [formGroup]="usernameForm" class="reset-password-request-form">
            <mat-form-field class="username-field">
              <input
                matInput
                placeholder="Username"
                formControlName="username"
                required
              />
              <mat-hint *ngIf="!usernameInput?.value"
                >Enter your Username</mat-hint
              >
            </mat-form-field>
            <button mat-flat-button (click)="submitResetPasswordRequest()" color="primary">
              Send Email
            </button>
        <p *ngIf="email_sent">Email was successfully sent! Please check your </p>
          </form>
</div>
<div *ngIf="token != 'reset'" class="reset-password-container">
    <from [formGroup]="resetPasswordForm" class="reset-password-form">
        <mat-form-field class="password-field">
            <input
            matInput
            placeholder="Password"
            [type]="hidePassword ? 'password' : 'text'"
            required
            formControlName="password"
            />
            <mat-icon
            matSuffix
            (click)="hidePassword = !hidePassword"
            >{{
                hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-hint *ngIf="!passwordInput?.value"
            >Enter your new password</mat-hint
            >
        </mat-form-field>
        <mat-form-field class="repeat-password-field">
            <input
            matInput
            placeholder="Password"
            [type]="hideRepeatPassword ? 'password' : 'text'"
            required
            formControlName="repeatPassword"
            />
            <mat-icon
            matSuffix
            (click)="hideRepeatPassword = !hideRepeatPassword"
            >{{
                hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-hint *ngIf="!passwordInput?.value"
            >Repeat your new password</mat-hint
            >
        </mat-form-field>
        <button mat-flat-button (click)="submitResetPassword()" color="primary">
            Submit
        </button>
    </from>
</div>